::selection {
  background-color: #8000FF;
  color: #fff;
}
::-moz-selection {
  background-color: #8000FF;
  color: #fff;
}

.theme-color {
  color: #8000FF;
}

.home-banner .social-icons a:hover,
.btn-theme, 
.theme-after:after,
.theme-bg {
  background: #8000ff;
}

